
.idea/ProyectoAppMovilesBimestreII.iml

ProyectoAppMovilesBimestreII/.gradle/7.4/checksums/checksums.lock

ProyectoAppMovilesBimestreII/.gradle/7.4/checksums/md5-checksums.bin

ProyectoAppMovilesBimestreII/.gradle/7.4/checksums/sha1-checksums.bin

ProyectoAppMovilesBimestreII/.gradle/7.4/fileHashes/fileHashes.bin

ProyectoAppMovilesBimestreII/.gradle/7.4/fileHashes/fileHashes.lock

ProyectoAppMovilesBimestreII/.gradle/buildOutputCleanup/buildOutputCleanup.lock

ProyectoAppMovilesBimestreII/.gradle/buildOutputCleanup/outputFiles.bin

ProyectoAppMovilesBimestreII/local.properties
